/.idea
*.iml
/manage-common/*.iml
/manage-enterprise/*.iml

# .gitignore for maven
target/
*.releaseBackup

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse


# logs
/stacktrace.log
/test/reports
/logs
*.log
*.log.*


# "temporary" build files
out/
build/


# Package Files #
*.jar
*.war
*.ear
src/main/java/com/pighome/eat/controller/
src/main/java/com/pighome/eat/dao/
src/main/java/com/pighome/eat/dataobject/
src/main/java/com/pighome/eat/service/
src/main/resources/mapper/
